<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037639530973-2vp39nq99rtcgb6l8vsn56k0e18544lp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037639530973-2vp39nq99rtcgb6l8vsn56k0e18544lp</string>
	<key>API_KEY</key>
	<string>AIzaSyDRG_ense6ufGc6qlLZ42Ay0ho22POIrFM</string>
	<key>GCM_SENDER_ID</key>
	<string>1037639530973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vinova.Dotify</string>
	<key>PROJECT_ID</key>
	<string>dotify-6872f</string>
	<key>STORAGE_BUCKET</key>
	<string>dotify-6872f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037639530973:ios:7ec91ac2e6a448d6</string>
	<key>DATABASE_URL</key>
	<string>https://dotify-6872f.firebaseio.com</string>
</dict>
</plist>